div#principal
    .ads
        min-height 90px
        padding 5px
div#ranked-background
    div.ads
        col(8)
        min-height 90px
        padding 5px

@media (max-width: 767px)
    div#ranked-background
        div.ads
            col(12)
