// Import all from components

@import 'font-awesome.styl'
@import 'btn.styl'
@import 'header-social.styl'
@import 'painel-card.styl'
@import 'ads.styl'
@import 'recomend-novel.styl'
@import 'recomend-popular.styl'
@import 'legado.styl'
@import 'novel-card.styl'
@import 'noticia-card.styl'
@import 'star-rating.styl'
@import 'grupo-card.styl'
