main#contato
    @extend $row
    margin 0 auto
    div#principal
        col(12)
        flex-direction column
        padding-top 20px
        padding-bottom 50px
        h1
            font-size 32px
		form.form_default
			fieldset.info-principal
                col(12)
