form.form_default
    display flex
    flex-direction column
    .form_element 
        display flex
        flex-direction column
        @extend $justify-center
        padding-left 30px
        padding-right 30px
        text-align left
        input
            background-color white
            border 1px solid rgba(0, 0, 0, 0.37);
            border-radius 5px
            height 22px
        .btn-submit
            margin 0 auto
            margin-top 20px
            btn_padrao(transparent)
            width 120px
