main#termos,main#politica
    @extend $row
    margin 0 auto
    div#principal
        col(12)
        flex-direction column
        padding-top 20px
        padding-bottom 50px
        h1
            font-size 32px
            color cor-01
        div.conteudo
            padding 10px
            SourceSansPro(light)
            text-align justify
            h2
                a
                    color cor-01
                    text-decoration none 
            a
                color cor-01
                &:hover
                    color cor-02
                    