header
    @extend $row
    display flex
    flex-direction column
    margin 0 auto
    div.logo
        text-align center
        img
            height 300px
    nav.nav-principal
        border-top 1px solid rgba(0,0,0,0.54);
        border-bottom 1px solid rgba(0,0,0,0.54);
        display flex
        margin-top 10px
        margin-bottom 20px
        @extend $justify-center
        ul
            Roboto(regular)
            padding 0px
            margin 10px
            display flex
            flex-direction row
            list-style none
            flex-wrap: wrap;
            @extend $justify-center
            li
                padding-top 5px
                padding-bottom 5px
                padding-left 10px
                padding-right 10px
                a
                    text-decoration none
                    color rgba(0,0,0,0.54);
                    &:hover,
                    &.active
                        color cor-01

                    
        