@charset "UTF-8"

@import 'base/all.styl'
@import 'helpers/all.styl'

// Imports from layout
@import 'layout/grid.styl'
//Componentes
@import 'components/all.styl'
@import 'components/dashboard/dashboard.styl'
@import 'components/dashboard/nav.styl'
@import 'components/dashboard/perfil.styl'
@import 'components/dashboard/card.styl'
@import 'components/dashboard/favoritos.styl'
@import 'components/form.styl'
@import 'components/dashboard/form.styl'

// Import themes
@import 'themes/dashboard.styl'