@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@font-face {
    font-family: 'SourceSansPro-Black';
    src: local('SourceSansPro-Black.otf'), url('/fonts/SourceSansPro-Black.otf')
}

@font-face {
    font-family: 'SourceSansPro-BlackIt';
    src: local('SourceSansPro-BlackIt.otf'), url('/fonts/SourceSansPro-BlackIt.otf')
}

@font-face {
    font-family: 'Permanent Marker', cursive;
    src: local('PermanentMarker-Regular.ttf'), url('/fonts/PermanentMarker-Regular.ttf')
}


@font-face {
    font-family: 'SourceSansPro-Bold';
    src: local('SourceSansPro-Bold.otf'), url('/fonts/SourceSansPro-Bold.otf')
}

@font-face {
    font-family: 'SourceSansPro-BoldIt';
    src: local('SourceSansPro-BoldIt.otf'), url('/fonts/SourceSansPro-BoldIt.otf')
}

@font-face {
    font-family: 'SourceSansPro-ExtraLight';
    src: local('SourceSansPro-ExtraLight.otf'), url('/fonts/SourceSansPro-ExtraLight.otf')
}

@font-face {
    font-family: 'SourceSansPro-ExtraLightIt';
    src: local('SourceSansPro-ExtraLightIt.otf'), url('/fonts/SourceSansPro-ExtraLightIt.otf')
}

@font-face {
    font-family: 'SourceSansPro-It';
    src: local('SourceSansPro-It.otf'), url('/fonts/SourceSansPro-It.otf')
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: local('SourceSansPro-Light.otf'), url('/fonts/SourceSansPro-Light.otf')
}

@font-face {
    font-family: 'SourceSansPro-LightIt';
    src: local('SourceSansPro-LightIt.otf'), url('/fonts/SourceSansPro-LightIt.otf')
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: local('SourceSansPro-Regular.otf'), url('/fonts/SourceSansPro-Regular.otf')
}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: local('SourceSansPro-Semibold.otf'), url('/fonts/SourceSansPro-Semibold.otf')
}

@font-face {
    font-family: 'SourceSansPro-SemiboldIt';
    src: local('SourceSansPro-SemiboldIt.otf'), url('/fonts/SourceSansPro-SemiboldIt.otf')
}

