// Font Weights
regular = 400

//Fontes

// mixin Roboto


    

PermanentMaker(content-value)
    if(content-value == regular)
        font-family: 'Permanent Marker', cursive;
Roboto(content-value)
    if(content-value == regular)
        font-family: 'Roboto', sans-serif;
        font-weight regular

// MIxin SourceSansPro
SourceSansPro(content-value)
    if(content-value == regular)
        font-family 'SourceSansPro-Regular'
        font-weight regular
    if(content-value == light)
        font-family 'SourceSansPro-Light'
        font-weight regular
    if(content-value == extra-light)
        font-family 'SourceSansPro-ExtraLight'
        font-weight regular
    if(content-value == bold)
        font-family 'SourceSansPro-Bold'
        font-weight regular
    if(content-value == semi-bold)
        font-family 'SourceSansPro-Semibold'
        font-weight regular

