$primary: #b07418;
$primary-invert: findColorInvert($primary);
$secondary: #FCAE1B;
$secondary-invert: findColorInvert($secondary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$gray-01: rgba(0, 0, 0, 0.54);
$gray-02: rgba(0,0,0,0.12);